html {
    height: 100%;
  }
  
  body {
    position: relative;
    padding-bottom: 75px;
    min-height: 100%;
  }
  
  .center {
    text-align: center;
  }
  
  .section_inner {
    padding: 50px 10% 30px;
  }
  
  .section_title {
    font-family: 'Noto Serif JP', serif;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .contact {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .contact_line {
    height: 50px;
    line-height: 50px;
  }
  
  .contact_sign {
    width: 25%;
    background: #beb9b7;
    border: solid 1px #beb9b7;
    text-align: left;
    padding: 0 20px;
  }
  
  .contact_input {
    width: 75%;
    border: solid 1px #beb9b7;
  }
  
  .contact_content {
    height: 100px;
  }
  
  .contact_input input, select, textarea {
    border: none;
    width: 99%;
  }
  
  .contact_input input, select {
    height: 50px;
  }
  
  .contact_input textarea {
    height: 100px;
  }
  
  .personal_information {
    background: #e6e6e6;
    padding: 10px;
    height: 100px;
    overflow: scroll;
    margin-bottom: 20px;
  }
  
  .contact_btn_area {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  .contact_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  .contact_btn + .contact_btn{
    margin-left: 10px;
  }
  
  .submit_btn {
    background: #9852a5;
    color: #fff;
  }
  
  .reset_btn {
    background: #e6e6e6;
  }
  
  .alert {
    color: #fff;
    padding: 20px;
    background: #d14539;
  }
  
  .hidden {
    display: none;
    margin: 0;
    padding: 0;
  }
  
  #email_error {
    color: #d14539;
    font-size: 12px;
    margin-top: 5px;
  }
  
  #email_confirm.different-emails {
    background-color: rgba(230, 169, 171, 0.5);
  }
  