html {
  height: 100%;
}
body {
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}
.center {
  text-align: center;
}
.section_inner {
  padding: 50px 10% 30px;
}
.section_title {
  font-family: 'Noto Serif JP', serif;
  text-align: center;
  margin-bottom: 50px;
}
.menu_section {
  background: url("../images/sample_menu_bg\ \(1\).jpg") no-repeat bottom;
  background-attachment: fixed;
}
.menu_title {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  text-align: center;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}
.menu_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.recommended_menu_item {
  width: 49%;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);;
}
.menu_item_title {
  font-size: 18px;
  font-family: 'Noto Serif JP', serif;
}
.coffee_menu {
  background: #fff;
  padding: 20px;
}
.caffee_menu_list_item {
  width: 49%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
}
.caffee_menu_image {
  width: 20%;
  border-radius: 50%;
}
.caffee_menu_content {
  width: 80%;
  padding: 10px;
}
.btn {
  display: inline-block;
  padding: .8rem 2rem;
  z-index: 10;
  text-align: center;
  border-radius: 5px;
  background: rgba(127,136,182,1);
  color: white;
}
  